body{
    font-family: 'Questrial', sans-serif;
    background-color: #E3E4E3;
}
.mensaje{
    background-color:#0E8893;
    color: #ffffff;
    text-align: center;
    padding: 15px;
    margin: 0px;
}

#link-contacto{
    text-decoration: none;
    color: #FFFFFF;
    font-weight: bold;
}

#link-contacto:hover{
    color: #000;
}

.mensaje p{
    font-size: 18px;
}

.turno{
    font-size: 18px;
}

.form-horario{
    margin: 5px 20px 30px 10px;
}
.opciones-horario{
    background-color: #E3E4E3;
    padding: 10px 20px;
    font-size: 14px;
    font-weight: bold;

}
.opcion-horario{
    background-color: #E3E4E3;
    font-size: 14px;
}

.form-contacto{
    margin: 5px 20px 30px 10px;
}

.enviar{
    padding: 10px 25px;
    margin: 10px;        
    font-size: 18px;
    font-weight: bold;
    color: #FFFFFF;
    background: rgba(41, 105, 124, 0.904);
    border: none;
    border-radius: 5px;
    transition: 1s all;
    cursor: pointer;  
}

.enviar:hover{
    background: rgb(0, 0, 0);
    transform: scale(1.1);
}

.tableta{
    display: flex;
    justify-content: center;
}
.tabla-turno{
    margin: auto;
    border: 1px solid #000000;
    margin: 20px 10px;
    padding: 10px ;
    border-collapse: collapse;
}

.tabla-turno th,td{
    border: 2px solid;
    padding: 10px 20px;        
}

.form-contacto{
    background-color: #E3E4E3;        
}

