<!DOCTYPE html>
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Questrial&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css" />
    <script src="scripts.js"></script>
</head>
<body>
    <header>
        <div class="container">

            <a href="/">   <img src="/img/Logo_Nombre.png" alt="logo" class="logo"></a>
                    <nav>
                       <ul>
                            <li><a href="#">Contacto</a></li>
                            <li><a href="">Comprar</a></li>
                            <li><a href="">Mi cuenta</a>
                                 <ul>
                                     <li><a href="">Iniciar Sesion</a></li>
                                  <li><a href="">Registrarte</a></li>
                                 </ul>
                          </li>
                       </ul>
              </nav>
       </div>
</header>
    
    <div class="page-content">
        <div class="product-container">
            <h3>Chevrolet Aveo</h3>
            <img src="/img/chevrolet-aveo.jpeg" />
            <h1>$500.000</h1>
            <button class="button-add" onclick="add('product-1', 50)">Favoritos</button>
        </div>

        <div class="product-container">
            <h3>Chevrolet Cruze</h3>
            <img src="/img/chevrolet-cruze.jpeg" />
            <h1>$300.000</h1>
            <button class="button-add" onclick="add('product-2', 300)">Favoritos</button>
        </div>

        <div class="product-container">
            <h3>Dodge Ram</h3>
            <img src="/img/dodge-ram.jpeg" />
            <h1>$250.000</h1>
            <button class="button-add" onclick="add('product-3', 250)">Favoritos</button>
        </div>

        <div class="product-container">
            <h3>Fiat Cronos</h3>
            <img src="/img/fiat-cronos.jpeg" />
            <h1>$200.000</h1>
            <button class="button-add" onclick="add('product-4', 200)">Favoritos</button>
        </div>

        <div class="product-container">
            <h3>Fiat Toro</h3>
            <img src="/img/fiat-toro.jpeg" />
            <h1>$100.000</h1>
            <button class="button-add" onclick="add('product-5', 10)">Favoritos</button>
        </div>

        <div class="product-container">
            <h3>Renaul Duster</h3>
            <img src="/img/renaul-duster.jpeg" />
            <h1>$650.000</h1>
            <button class="button-add" onclick="add('product-6', 650)">Favoritos</button>
        </div>
    </div>
</body>
