<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/busCAR/src/main/resources/static/css/contacto.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Questrial&display=swap" rel="stylesheet">
    <title>BusCAR - Contacto</title>
</head>

<body>
    <header>
        <div class="container">
            <img src="/media/Logo_Nombre.png" alt="logo" class="logoNav">

            <div class="search">
                <input type="text" placeholder=" Que desea busCAR?" class="buscador">
                <div class="btn">
                    <i class="fa fa-search"></i>
                </div>
            </div>
                
            <nav>
                <ul class="nav1">
                    <li><a href="#">Contacto</a></li>
                    <li><a href="">Comprar</a></li>
                    <li><a href="">Mi cuenta</a>
                            <ul id="nav2">
                                <li><a href="">Iniciar Sesion</a></li>
                                <li id="regi"><a href="">Registrarte</a></li>
                            </ul>
                    </li>
                </ul>
            </nav>
       </div>
    </header>

    <main>
        <section>        
            <h1>¿Necesitás ayuda?</h1>
            <h1>¡Contactános!</h1>
            <p>Hola! Estamos totalmente dispuesto a ayudarte en lo que necesites y disiparte todas las dudas que tengas. Envianos un mensaje y nos pondremos en contacto contigo!</p>
        </section>

        <section class="contactoPrivado">         
            <form class="cuestionario">
                <label for="nombre">Nombre y Apellido</label>
                <input type="text" id="nombre" class="form-padron" required>
                
                <label for="correo">Correo Electrónico</label>
                <input type="email" id="correo" class="form-padron" required placeholder="correo@dominio.com">

                <label for="telefono">Teléfono</label>
                <input type="tel" id="telefono" class="form-padron" required placeholder="(XX) XXX XXXXXXX">

                <label for="mensaje">Mensaje</label>
                <textarea cols="70" rows="10" id="mensaje" class="form-padron"></textarea>                    
                
                <label class="checkbox"><input type="checkbox" checked>¿Le gustaría recibir novedades de BusCar?</label>

                <input type="submit" value="Enviar" class="enviar">
            </form>

            <div class="foto">
                <img src="\busCAR\src\main\resources\static\img\azul.png">
            </div>         
        </section>       

        <section class="contactoPublico">
            <h1>¡Hablá con nuestros Asesores Especializados!</h1>
            <p>Contactate con alguno de nuestros asesores a través de:</p>
            
            <ul class="logosContacto">
                <li> <a rel="link" href="https://www.instagram.com/"><img src="\busCAR\src\main\resources\static\img\llamada.png" class="logos"></a></li>
                <li> <a rel="link" href="https://www.instagram.com/"><img src="\busCAR\src\main\resources\static\img\gmail.png" class="logos"></a></li>
                <li> <a rel="link" href="https://www.instagram.com/"><img src="\busCAR\src\main\resources\static\img\whatsapp.png" class="logos"></a></li>
            </ul>                               
        </section>

        <section class="ubicacion">
            <h1>¿Donde encontrarnos?</h1>
            <p>Nuestra sucursal se encuentra en el centro de la bella Ciudad de Mendoza. En bla bla bla</p>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6701.413081574724!2d-68.86920570926095!3d-32.87948303434326!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x967e093ec45179bf%3A0x205a78f6d20efa3a!2sMendoza%2C%20Capital%2C%20Mendoza!5e0!3m2!1ses-419!2sar!4v1653348898390!5m2!1ses-419!2sar"  style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" class="mapa"></iframe>
        </section>
    </main>    

    <footer>
        <div class="primerPiso">
        <img src="/busCAR/src/main/resources/static/img/Logo_Nombre.png" class="logo">
        <p class="copyright">&copy Copyright BusCar - 2022</p>        
        <ul class="redes">
            <li><img src="\busCAR\src\main\resources\static\img\instagram.png" class="iconos"> <a rel="link" href="https://www.instagram.com/">Instagram</a></li>
            <li><img src="\busCAR\src\main\resources\static\img\facebook.png" class="iconos"> <a rel="link" href="https://www.facebook.com/">Facebook</a></li>
            <li><img src="\busCAR\src\main\resources\static\img\twitter.png" class="iconos"> <a rel="link" href="https://www.twitter.com/">Twitter</a></li>
        </ul>      
    </div>  
    </footer>
</body>
</html>