<!DOCTYPE html>
<html lang="es" xmlns:th="https://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Questrial&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/css/datosEstilos.css">
        <title>Datos - Efectivo</title>
    </head>
    <body>
        <header>
 <nav>
                                            <ul class="nav1">
                                                <li><a href="/contacto">Contacto</a></li>
                                                <li><a href="/catalogo">Comprar</a></li>
                                                <li><a href="">Mi cuenta</a>
                                                    <ul id="nav2">
                                                        <li th:if="${session.usuariosession} == null"><a href="/login">Iniciar Sesion</a></li>
                                                        <li th:if="${session.usuariosession} == null" id="regi"><a href="/registroUsuario">Registrarte</a></li>
                                                        <li th:if="${session.usuariosession} != null"><a href="/usuario/editar-perfil">Editar perfil</a></li>
                                                        <li th:if="${session.usuariosession} != null"><a href="/usuario/editar-clave">Cambiar contraseña</a></li>
                                                        <li th:if="${session.usuariosession} != null"><a href="/vehiculo/registro"> Registrar Vehiculo</a></li>
                                                        <li th:if="${session.usuariosession} != null"><a href="/vehiculo/modificar_vehiculo">Modificar Vehiculo</a></li>
                                                        <li th:if="${session.usuariosession} != null"><a href="/logout">Logout</a></li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </nav>
        </header>

        <main>
            <div>
                <h2>Ingrese sus datos para completar la reserva</h2>
                <div class="formulario">
                    <form class="form-datos" th:action="@{/transaccion/efectivo}" method="POST">
                        <div class="dato">
                            <label for="nombre">Nombre y Apellido</label>
                            <input name="nombre" type="text" id="nombre" class="form-padron" placeholder="Pedro Pérez" required>
                        </div>
                        <div class="dato">    
                            <label for="domicilio">Domicilio</label>
                            <input name="direccion" type="text" id="domicilio" class="form-padron" placeholder="Av. Belgrano XXXX" required>
                        </div>
                        <div class="dato">
                            <label for="dni">DNI</label>
                            <input name="dni" type="text" id="dni" class="form-padron" placeholder="XX XXX XXX " required>
                        </div>
                        <div class="dato">
                            <label for="cuil">CUIL/CUIT</label>
                            <input name="cuil" type="text" id="cuil" class="form-padron" placeholder="XX-XXXXXXXX-X" required>
                        </div>
                        <div class="dato">
                            <label for="correo">Correo Electrónico</label>
                            <input name="email" type="email" id="correo" class="form-padron" required placeholder="correo@dominio.com">
                        </div>
                        <div class="dato">
                            <label for="telefono">Teléfono</label>
                            <input name="telefono" type="tel" id="telefono" class="form-padron" required placeholder="(XX) XXX XXXXXXX">
                        </div>
                        <!--                <div class="dato">
                                            <label for="fecha">Fecha</label>
                                            <input name="fechaVenc" type="date" id="fecha" class="form-padron" required placeholder="DD-MM-AAAA">
                                        </div>     -->
                        <div class="dato">
                            <label for="banco">Punto de Pago</label>
                            <select name="puntoPago" class="puntosDePago" required>
                                <option value="rapipago">Rapipago</option>
                                <option value="pagofacil">Pagofácil</option>
                            </select>
                        </div>
                        <input type="hidden" name="precio" th:value="${precio}">
                        <input type="hidden" name="id_v" th:value="${vehiculo}">
                        <input type="hidden" name="id_u" th:value="${session.usuariosession.id}">
                        <input type="submit" value="Enviar" class="enviar">
                    </form>
                </div>  
            </div>
        </main>

        <footer>

        </footer>        
    </body>
</html>