<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"  type= "text/css" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/inicioSesion.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Questrial&display=swap" rel="stylesheet">
    <title>BusCAR-Iniciar Sesión</title>
</head>
<body>
     <header>
                                <div class="container">

            <a href="/">    <img src="/img/Logo_Nombre.png" alt="logo" class="logo-nav"></a>

            <div class="search">
                <input type="text" placeholder=" Que desea busCAR?">
                <div class="btn">
                    <i class="fa fa-search"></i>
                </div>
            </div>

           <nav>
                                            <ul class="nav1">
                                                <li><a href="/contacto">Contacto</a></li>
                                                <li><a href="/catalogo">Comprar</a></li>
                                                <li><a href="">Mi cuenta</a>
                                                    <ul id="nav2">
                                                        <li th:if="${session.usuariosession} == null"><a href="/login">Iniciar Sesion</a></li>
                                                        <li th:if="${session.usuariosession} == null" id="regi"><a href="/registroUsuario">Registrarte</a></li>
                                                        <li th:if="${session.usuariosession} != null"><a href="/usuario/editar-perfil">Editar perfil</a></li>
                                                        <li th:if="${session.usuariosession} != null"><a href="/usuario/editar-clave">Cambiar contraseña</a></li>
                                                        <li th:if="${session.usuariosession} != null"><a href="/vehiculo/registro"> Registrar Vehiculo</a></li>
                                                        <li th:if="${session.usuariosession} != null"><a href="/vehiculo/modificar_vehiculo">Modificar Vehiculo</a></li>
                                                        <li th:if="${session.usuariosession} != null"><a href="/logout">Logout</a></li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </nav>
    </div>  
</header>
    <section class="home">
    <div class="login">
        
      
        <div class="user-box"> 
                            
                            <h2 th:text="${titulo}"></h2>
                            <p th:text="${descripcion}"></p>
                            <a class="link" href="/usuario/inicioOk">Volver a inicio</a>
                        </div>
       
    </div>
    </section>

</body>
</html>