<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"  type= "text/css" href="/static/css/normalize.css">
    <link rel="stylesheet" href="/static/css/fotoUsuario.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Questrial&display=swap" rel="stylesheet">
    <title>BusCAR-Foto Perfil</title>
</head>
<body>
    <header>
        <div class="container">
            <p class="logo">BusCAR</p>
        </div>
        <nav>
            <p>hola gente</p>
        </nav> 
    </header>
    <section class="home">
        <div class="login">
            <h1>Foto de perfil</h1>
                <form >
                    <div class="user-box">
                    <input type="file">  
                    </div>
                    <button href="#">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                    Guardar foto de perfil
                    </button>
                </form>
        </div>
    </section>
    <footer>
        <div class="container">
            <p>&copy; busCar2022</p>
        </div>
    </footer>

</body>
</html>