<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/Index.css">

</head>

<body>

    <header>
        <div class="container">

            <img src="/static/img/Logo_Nombre.png" alt="logo" class="logo">

            <nav>
                <ul>
                    <li><a href="/vehiculo/registro">Vehiculo</a></li>
                    <li><a href="/templates/contacto.html">Contacto</a></li>
                    <li><a href="/templates/">Comprar</a></li>
                    <li><a href="/templates/">Mi cuenta</a>
                        <ul>
                            <li><a href="/templates/inicioSesion.html">Iniciar Sesion</a></li>
                            <li><a href="/templates/registro.html">Registrarte</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
    </header>

    <!-- - - - SECTION HERO - - - -->
    <section id="hero">
        <h1>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Magni</h1>
    </section>


    <!-- - - - SECTION SOMOS BUSCAR - - - -->
    <section id="somos-buscar">

        <div class="container">

            <div class="img-container"></div>

            <div class="texto">

                <h1>Somos bus<span class="color-acento">CAR</h1></span>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Obcaecati illo sunt magnam cupiditate
                    corporis laborum vitae beatae provident nostrum molestiae praesentium veniam.</p>

            </div>

        </div>

    </section>

    <!-- - - - SECTION CATEGORIA - - - -->
    <section id="categoria">

        <div class="container">
            <h1>Categorias</h1>

            <div class="categorias">

                <div class="categoria">
                    <div class="img-container">
                        <a href="#"><img src="/static/img/car_degra.png" alt="cat-auto"></a>
                    </div>
                    <h3>Autos</h3>
                </div>

                <div class="categoria">
                    <div class="img-container">
                        <a href="#"><img src="/static/img/moto_degra.png" alt="cat-moto"></a>
                    </div>
                    <h3>Motos</h3>
                </div>

                <div class="categoria">
                    <div class="img-container">
                        <a href="#"><img src="/static/img/camioneta_degra.png" alt="cat-camioneta"></a>
                    </div>
                    <h3>Camionetas</h3>
                </div>

            </div>
        </div>

    </section>

    <!-- - - - SECTION MARCAS - - - -->
    <section id="marcas">


        <div class="container">
            <h1>Marcas</h1>

            <div class="marquita">

                <div class="marcas1"><a href="">
                        <img src="/static/img/Chevrolet-logo.png" alt="Chevrolet"></a>
                </div>

                <div class="marcas2"><a href="">
                        <img src="/static/img/Peugeot-logo.png" alt="Peugeot"></a>
                </div>

                <div class="marcas3"><a href="">
                        <img src="/static/img/Renault-Logo.png" alt="Renault"></a>
                </div>

                <div class="marcas4"><a href="">
                        <img src="/static/img/Toyota-logo.png" alt="Toyota"></a>
                </div>

                <div class="marcas5"><a href="">
                        <img src="/static/img/Volkswagen-logo.png" alt="Volkswagen"></a>
                </div>

                <div class="marcas6"><a href="">
                        <img src="/static/img/Fiat-logo.png" alt="Fiat"></a>

                </div>

            </div>
        </div>

    </section>


    <!-- - - - RESEÑAS - - - -->
    <section id="reseñas">

        <div class="container">

            <h1>Lo que opinan nuestros clientes</h1>

            <div class="resenia">
                <h4>Kun Aguero ⭐ ⭐ ⭐ ⭐ ⭐</h4>
                <p>Quiero destacar y felicitar a la empresa busCAR, y su personal, que me ayudaron una enormidad en una
                    compra urgente que tuve que realizar. Todo se realizó en un par de horas, entregándome seguridad,
                    confianza en la compra y sin poner en riesgo mi dinero. Felicitaciones y 100% recomendado busCAR</p>
            </div>

            <div class="resenia">
                <h4>Fernando chiquito ⭐ ⭐ ⭐ ⭐</h4>
                <p>Excelente experiencia con busCAR, flexible en las necesidades horarias para concretar transferencias,
                    recomendable la plataforma, empresa.</p>
            </div>

            <div class="resenia">
                <h4>Profe Pili ⭐ ⭐ ⭐ ⭐</h4>
                <p>No te ocultan nada. No solo venden autos, venden confianza</p>
            </div>

            <div class="resenia">
                <h4>Chamullo ⭐ ⭐ ⭐ ⭐⭐</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus, rerum! Mollitia magnam
                    voluptatem error sed inventore corrupti beatae rem. Animi inventore ducimus quae ad hic. Hic nobis
                    minus quis dolorem.</p>
            </div>
        </div>
    </section>

    <footer>
        <div class="container">
            <p>&copy; busCar2022</p>
        </div>
    </footer>

</body>

</html>