<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BusCAR-Iniciar Sesión </title>
</head>
<body>
    <header>
        <nav>
             
        </nav>
    </header>
    <div>
        <form>
        <h2><b>Iniciar Sesión</b></h2>
        <p>Ingrese su E-mail</p>
        <input type="email" name="email"required="">
        <p>Ingrese su contraseña</p>
        <input type="password" name="contraseña"required=""><br>
        <input type="submit" value="Iniciar Sesión"required="">
        <p>¿No tenés cuenta?</p>
        <a href="registro.html">Registrate acá</a>
        </form>
        <a href="index.html">Volver a inicio</a>
    </div>
</body>
</html>