<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <title>busCAR - login!</title>
        <meta charset="UTF-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
                <meta name="viewport" content="width=device-width, initial-scale=1.0">
                    <link rel="stylesheet" href="/css/Index.css"> 
                        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
                            </head>
                            <body>

                                <header>
                                    <div class="container">

            <a href="/">    <img src="/img/Logo_Nombre.png" alt="logo" class="logo"></a>

            <div class="search">
                <input type="text" placeholder=" Que desea busCAR?">
                <div class="btn">
                    <i class="fa fa-search"></i>
                </div>
            </div>

           <nav>
                                            <ul class="nav1">
                                                <li><a href="/contacto">Contacto</a></li>
                                                <li><a href="/catalogo">Comprar</a></li>
                                                <li><a href="">Mi cuenta</a>
                                                    <ul id="nav2">
                                                        <li th:if="${session.usuariosession} == null"><a href="/login">Iniciar Sesion</a></li>
                                                        <li th:if="${session.usuariosession} == null" id="regi"><a href="/registroUsuario">Registrarte</a></li>
                                                        <li th:if="${session.usuariosession} != null"><a href="/usuario/editar-perfil">Editar perfil</a></li>
                                                        <li th:if="${session.usuariosession} != null"><a href="/usuario/editar-clave">Cambiar contraseña</a></li>
                                                        <li th:if="${session.usuariosession} != null"><a href="/vehiculo/registro"> Registrar Vehiculo</a></li>
                                                        <li th:if="${session.usuariosession} != null"><a href="/vehiculo/modificar_vehiculo">Modificar Vehiculo</a></li>
                                                        <li th:if="${session.usuariosession} != null"><a href="/logout">Logout</a></li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </nav>
    </div>  
                                </header>
                                <section id="hero">
                                    <h2></h2>
                                    <br><br><br><br>
                                                    <h1>Bienvenido/a</h1>
                                                     <h2  th:if="${session.usuariosession != null}" th:text="${session.usuariosession.nombre}"></h2>
                                                     <a href="/usuario/index_logueado"><button type="button" class="" id="registr"> Ir al inicio </button></a>
                                               
                                </section>
                              </body>
     <footer>
                                                    <div class="container">
                                                        <p>&copy; busCar2022</p>
                                                    </div>
                                                </footer>
                            <!--
                            <div><div class="container">
                            <h1 class="masthead-heading mb-0">Usuario Logueado</h1>
                            <h2 th:if="${session.usuariosession != null}" th:text="${session.usuariosession.nombre + ' ' + session.usuariosession.apellido}"></h2> 
                            <a th:href="@{/usuario/editar-perfil(id=__${session.usuariosession.id}__)}" class="btn btn-primary btn-xl rounded-pill mt-5">¡Configura tu Perfil!</a>
                         
                            <br>
                                  <a class="nav-link" href="/logout">Salir</a>
                          </div></div>
                        </body> -->
                            </html>
