<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org/extras/spring-security">
    
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Datos del Vehiculo</title>
    <link rel="stylesheet" href="/css/Registro_auto.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
</head>

<body>

    <header>
            <div class="container">

                    <img src="/img/Logo_Nombre.png" alt="logo" class="logo">

                    <div class="search">
                        <input type="text" placeholder=" Que desea busCAR?">
                        <div class="btn">
                            <i class="fa fa-search"></i>
                        </div>
                    </div>

                   <nav>
                           <ul class="nav1">
                                <li><a href="#">Contacto</a></li>
                                <li><a href="">Comprar</a></li>
                                <li><a href="">Mi cuenta</a>
                                     <ul id="nav2">
                                         <li><a href="">Iniciar Sesión</a></li>
                                         <li id="regi"><a href="">Registrarte</a></li>
                                     </ul>
                              </li>
                           </ul>
                  </nav>
           </div>
    </header>
    <br>

    
    <center>
    <section class="formulario_conteiner">

            <form action="/vehiculo/actualizar_vehiculo"   method="POST" enctype="multipart/form-data">
                <h1>Modificar Vehículo</h1>
                <p style="color: rgb(95, 95, 95);">A continuación, ingrese los datos del vehiculo a modificar, muchas gracias
                 </p><br><br>

                <div class="car-box">
                    <input type="text" required>
                    <label>Título de la publicación</label>
                    <br><br>
              </div>

               <div class="car-box2">
                   <label>Tipo de Vehiculo</label>
                  <select name="tdv" required>
                    <option th:each="tipo : ${Tdv}" th:text="${tipo}"></option>
                </select>
                 
                   <br><br><br>
               </div>
                         
               <div class="car-box1">
                   <label >Marca</label>
                   
                  <select name="marca" required>
                    <option th:each="mar : ${Marcas}" th:text="${mar}"></option> 
                </select>
                  
                   <br><br><br>
                </div>
<label th:text="${prueba}"></label>
               <div class="car-box">
                   <input type="text" name="modelo" required>
                   <label>Modelo</label><br><br>
               </div>

               <div class="car-box">
                   <input type="text"  name="patente" required>
                   <label>Patente</label>
                   <br><br>
               </div>

               <div class="car-box">
                   <input type="number" name="anio" required>
                  
                   <label >Año</label>
                   <br><br>
               </div>
 
               <div class="car-box2">
                   <label>Estado</label><br>
                   <input type="radio" name="nuevo" value="true" required>Nuevo
                   <input type="radio" name="nuevo" value="false" required>Usado
                   <br><br><br>
               </div>

               <div class="car-box">
                   <input type="number" name="kilometraje" required>
                   <label >Kilómetros</label>
                   <br><br>
               </div>
               
               <div class="car-box">
                  <select name="color" required>
                    <option th:each="col : ${Colores}" th:text="${col}"></option> 
                </select>
                  
                   <label>Color</label>
                   <br><br>
               </div>

               <div class="car-box1">
                    <label >Tipo de combustible</label>
                 <select name="tdc" required>
                    <option th:each="tipo : ${Tdc}" th:text="${tipo}"></option> 
                </select>
                  
                <br><br><br>
            </div>

  
            <div class="car-box">
                <input type="number" name="precio" required>
                <label>Precio</label>
                <br><br>
            </div>

            <div class="car-box">
                <h3>Descripción</h3>
                <textarea name="descripcion" rows="10" cols="40"> Agrega una descripción del vehículo</textarea>
                <br><br>
            </div>

            <div class="car-box">
                <h3>Imágenes</h3>
                <input type="file" name="archivo">
                <br>
            </div>

            <input id="submit" type="submit" ><br><br>


               <a class="link" href="/">Volver a inicio</a><br><br>
       
              

            </form>

       
    </section>
        
              <div   th:if="${exito}!=null" class=" header_content" >
        <div >
            <h5 >Exito </h5>
            <p  th:text="${exito}"></p>
            <a href="/"> Volver ></a>
        </div>

    </div>

    <div  th:if="${error}!=null" class="header_content" >
        <div >

            <h5 >Error </h5>
            <p th:text="${error}"></p>
            <a href="/"> Volver ></a>
        </div>

    </div>
</center>
    
  

</body>

  
  
<footer>
    <div class="container">
        <p>&copy; busCar2022</p>
    </div>
</footer>

</html>