<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"  type= "text/css" href="/static/css/normalize.css">
    <link rel="stylesheet" href="/static/css/modClaveUsuario.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Questrial&display=swap" rel="stylesheet">
    <title>BusCAR-Contraseña</title>
</head>
<body>
    <header>
        <nav>

        </nav>
    </header>

    <div  class="login">
        <h1>Contraseña</h1>
            <form >
                <div class="user-box">
                    <input type="password" name="clave" disabled>
                    <label >Contraseña actual</label>
                </div>
                <div class="user-box">
                    <input type="password" name="clave" required>
                    <label >Nueva contraseña</label>
                </div>
                <div class="user-box">
                    <input type="password" name="clave" required>
                    <label >Confirmar nueva contraseña</label>
                </div>
                <a href="#">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                Guardar contraseña
                </a>
            </form> 
        </div>
</body>
</html>