<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"  type= "text/css" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/modClaveUsuario.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Questrial&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
    <title>BusCAR-Contraseña</title>
</head>
<body>
    <header>
        <div class="container">

            <a href="/"> <img src="/img/Logo_Nombre.png" alt="logo" class="logo"></a>

            <div class="search">
                <input type="text" placeholder=" Que desea busCAR?">
                <div class="btn">
                    <i class="fa fa-search"></i>
                </div>
            </div>

         <!--  <nav>
                   <ul class="nav1">
                        <li><a href="/contacto">Contacto</a></li>
                        <li><a href="">Comprar</a></li>
                        <li><a href="">Mi cuenta</a>
                             <ul id="nav2">
                                 <li><a href="">Iniciar Sesion</a></li>
                                 <li id="regi"><a href="">Registrarte</a></li>
                             </ul>
                      </li>
                   </ul>
          </nav>--><nav>
                    <ul class="nav1">
                        <li><a href="/contacto"> Contacto</a></li>
                        <li><a href="/catalogo">Comprar</a></li>
                        <!--<ul id="nav2">-->
                        <li sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_USUARIO')" >
                            <li><a href="">Mi cuenta</a>
                           <a href="/"  th:text="${nombreUsuario}"></a>
                            <ul id="nav2">
                                <a href="/usuario/editar-perfil">Editar perfil</a>
                                <a  href="/usuario/editar-clave">Cambiar contraseña</a>
                                <a  href="/vehiculo/registro"> Registrar Vehiculo</a>
                                <a  href="/vehiculo/modificar_vehiculo">Modificar Vehiculo</a>
                                <a  href="/logout">Logout</a>                              
                            </ul>
                        </li>
                        <!--</ul>-->
                        <!--<li id="inicia"><a href="/login">Iniciar Sesion</a></li>
                            <li id="regis"><a href="/registroUsuario">Registrarte</a></li>-->
                        <!--<lu th:if="${session.usuariosession != null}"><a href="/usuario/modDatosUsuario">Mi cuenta</a>-->
                        <li th:if="${session.usuariosession == null}"><a href="/login">Iniciar Sesion</a></li>
                        <li><a th:if="${session.usuariosession == null}" href="/registroUsuario">Registrarte</a></li>
                    </ul>
                </nav>
    </div>     
    </header>
    <section class="home">
    <div  class="login">
        <h1>Contraseña</h1>
        <p id="mensaje" th:if="${error != null}" th:text="${error}" style="color:red;"> </p>
        <p id="mensaje" th:if="${mensaje != null}" th:text="${mensaje}" style="color:green;">
            <form action="/usuario/edita-clave" method="POST">
                <div class="user-box">
                    <input type="password" name="clave" required>
                    <label >Nueva contraseña</label>
                </div>
                <div class="user-box">
                    <input type="password" name="clave2" required>
                    <label >Confirmar nueva contraseña</label>
                </div>
                <button type="submit">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    Guardar contraseña
                </button>
                <a href="/" >
                    
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                Volver
                </a>
            </form> 
        </div>
    </section>   
        <footer>
            <div class="container">
            <img src="/img/Logo_Nombre.png" class="logo">
            <p class="copyright">&copy Copyright BusCar - 2022</p>        
            <ul class="redes">
                <li><img src="/img/instagram.png" class="iconos"> <a rel="link" href="https://www.instagram.com/">Instagram</a></li>
                <li><img src="/img/facebook.png" class="iconos"> <a rel="link" href="https://www.facebook.com/">Facebook</a></li>
                <li><img src="/img/twitter.png" class="iconos"> <a rel="link" href="https://www.twitter.com/">Twitter</a></li>
            </ul>      
        </div>  
        </footer> 
</body>
</html>