<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"  type= "text/css" href="/static/css/normalize.css">
    <link rel="stylesheet" href="/static/css/modDatosUsuario.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Questrial&display=swap" rel="stylesheet">
    <title>BusCAR-Mis datos de usuario</title>
</head>
<body>
    <header>
        <nav>

        </nav>
    </header>
    
    <div class="login">
        <h1><b>Mis datos</b></h1>
        <form > 
                <div class="user-box">      
                    <input type="text" name="nombre" required>
                    <label>Nombre</label>
                   
                </div>
                
                <div class="user-box">
                    <input type="text" name="apellido" required >
                    <label >Apellido</label>
                </div>

                <div class="user-box">
                    <input type="text" name="fechaNacimiento" required>
                    <label >Fecha de nacimiento</label>
                </div>

                <div class="user-box">
                    <input type="number" name="dni" required>
                    <label> DNI</label>
                </div>

                <div class="user-box">
                    <input type="email" name=""required="">
                    <label >E-mail</label>
                </div> 

                <div class="user-box">
                    <input type="tel" name="" required="">
                    <label >Num. telefónico</label>
                </div>

                <div class="user-box">
                    <input type="text" name="" required="">
                    <label > Domicilio</label>
                </div>
                <a href="#">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                Guardar datos
                </a>
                <br>
                <br>
        </form>
    </div>
</body>     

</html>