<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">    
    <link rel="stylesheet" href="/busCAR/src/main/resources/static/css/ProductoEstilo.css">    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Questrial&display=swap" rel="stylesheet">
    

    <title>BusCAR - Producto</title>
</head>
<body>
   
    <header>  

    </header>
    
    <main>
        <div class="vidriera">
            <section class="galeria">
                <div class="product" style="margin-left: 3em">
                    <div class="img-container">
                    <img id="imageBox" src="\busCAR\src\main\resources\static\img\auto rojo.jfif">
                    </div>
                    <div class="product-small-img">
                        <img src="\busCAR\src\main\resources\static\img\auto rojo.jfif" onmouseover="myFunction(this)">   
                        <img src="\busCAR\src\main\resources\static\img\autop narnja.jfif" onmouseover="myFunction(this)">
                        <img src="\busCAR\src\main\resources\static\img\camioneta.jfif" onmouseover="myFunction(this)">
                    </div>
                </div>  
            </section>

            <section class="placaDatos">
                <h2>TÍTULO DE LA PUBLICACIÓN</h2>
                <p class="datosSec">Kilometros, Nuevo/Usado, Transmisión</p>
                <p class="precio">PRECIO $$$$$</p>
                <div class="bloqueBoton">

                    <a href="/busCAR/src/main/resources/templates/compra.html"><button type="button" class="botones">Comprar</button></a>
                    <a href="/busCAR/src/main/resources/templates/reserva.html"><button type="button" class="botones">Reservar</button></a>
                </div>
            </section>
        </div>            
        
        <div class="tablaCaracteristicas">
            <h1>Características</h1>
            <table>
                <tr>
                    <th>Marca</th>
                    <td>xxxxx</td>
                </tr>
                <tr>
                    <th>Modelo</th>
                    <td>xxxxx</td>
                </tr>
                <tr>
                    <th>Año de Fabricación</th>
                    <td>xxxxx</td>
                </tr>
                <tr>
                    <th>Color</th>
                    <td>xxxxx</td>
                </tr>
                <tr>
                    <th>Condición</th>
                    <td>xxxxx</td>
                </tr>
                <tr>
                    <th>Kilometros realizados</th>
                    <td>xxxxx</td>
                </tr>
                <tr>
                    <th>Tipo de Combustible</th>
                    <td>xxxxx</td>
                </tr>
                <tr>
                    <th>Caja</th>
                    <td>xxxxx</td>
                </tr>
            </table>
        </div>

        <div class="descripcion">
            <h1>Descripción</h1>
            <p>Descripción breve</p>
        </div>
    
        <div class="relacionados"> 
            <h1>Productos Relacionados</h1>
            <ul class="prod-relacionados">
                <li>
                    <h2>Título 1</h2>
                    <img src="\busCAR\src\main\resources\static\img\camioneta.jfif" class="fotos">
                    <p class="prDescripcion">Kilometros, Nuevo/Usado, Transmisión</p>
                    <p class="prPrecio">$ 1000.00</p>
                </li>
                <li>
                    <h2>Título 2</h2>
                    <img src="\busCAR\src\main\resources\static\img\auto rojo.jfif" class="fotos">
                    <p class="prDescripcion">Kilometros, Nuevo/Usado, Transmisión</p>
                    <p class="prPrecio">$ 8000.00</p>
                </li>
                <li>
                    <h2>Título 3</h2>
                    <img src="\busCAR\src\main\resources\static\img\autop narnja.jfif" class="fotos">
                    <p class="prDescripcion">Kilometros, Nuevo/Usado, Transmisión</p>
                    <p class="prPrecio">$ 15000.00</p>
                </li>
            </ul> 
        </div>
    </main>
    
    <footer>
        <img src="/busCAR/src/main/resources/static/img/Logo_Nombre.png" class="logo">
        <ul class="redes">
            <li><img src="\busCAR\src\main\resources\static\img\instagram.png" class="iconos"> <a rel="link" href="https://www.instagram.com/">Instagram</a></li>
            <li><img src="\busCAR\src\main\resources\static\img\facebook.png" class="iconos"> <a rel="link" href="https://www.facebook.com/">Facebook</a></li>
            <li><img src="\busCAR\src\main\resources\static\img\twitter.png" class="iconos"> <a rel="link" href="https://www.twitter.com/">Twitter</a></li>
        </ul>
        <p class="copyright">&copy Copyright BusCar - 2022</p>   
    </footer>
</body>
</html>

<script type="text/javascript">
    function myFunction(smallImg){
        var fullImg = document.getElementById("imageBox");
        fullImg.src = smallImg.src;
    }    
</script>