<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">    
    <link rel="stylesheet" href="/css/ProductoEstilo.css">    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Questrial&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/contacto.css" type="text/css"/>

    

    <title>BusCAR - Producto</title>
</head>
<body>
   
    <header>  
        <div class="container">
            <img src="/media/Logo_Nombre.png" alt="logo" class="logoNav">

            <div class="search">
                <input type="text" placeholder=" Que desea busCAR?" class="buscador">
                <div class="btn">
                    <i class="fa fa-search"></i>
                </div>
            </div>

           <nav>
                <ul class="nav1">
                    <li><a href="#">Contacto</a></li>
                    <li><a href="">Comprar</a></li>
                    <li><a href="">Mi cuenta</a>
                            <ul id="nav2">
                                <li><a href="">Iniciar Sesion</a></li>
                                <li id="regi"><a href="">Registrarte</a></li>
                            </ul>
                    </li>
                </ul>
          </nav>
   </div>

    </header>
    
    <main>
        <div class="vidriera">
            <section class="galeria">
                <div class="product" style="margin-left: 3em">
                    <div class="img-container">
                    <img id="imageBox" th:src="${'/foto/vehiculo/' + vehiculo.id}">
                    </div>
                    <div class="product-small-img">
                        <img th:src="${'/foto/vehiculo/' + vehiculo.id}" onmouseover="myFunction(this)">   
                        <img th:src="${'/foto/vehiculo/' + vehiculo.id}" onmouseover="myFunction(this)">
                        <img th:src="${'/foto/vehiculo/' + vehiculo.id}" onmouseover="myFunction(this)">
                    </div>
                </div>  
            </section>

            <section class="placaDatos">
                <h2 th:text="${vehiculo.marca} + ' ' + ${vehiculo.modelo}">TÍTULO DE LA PUBLICACIÓN</h2>
                <p class="datosSec" th:text="${vehiculo.kilometraje} + 'KM, ' + ${estado}">Kilometros, Nuevo/Usado, Transmisión</p>
                <p class="precio" th:text="'AR$' + ${vehiculo.precio}">PRECIO $$$$$</p>
                <div class="bloqueBoton">

                    <a th:href="@{/transaccion/compra(id=__${vehiculo.id}__)}"><button type="button" class="botones">Comprar</button></a>
                    <a th:href="@{/transaccion/reserva(id=__${vehiculo.id}__)}"><button type="button" class="botones">Reservar</button></a>
                </div>
            </section>
        </div>            
        
        <div class="tablaCaracteristicas">
            <h1>Características</h1>
            <table>
                <tr>
                    <th>Marca</th>
                    <td th:text="${vehiculo.marca}">xxxxx</td>
                </tr>
                <tr>
                    <th>Modelo</th>
                    <td th:text="${vehiculo.modelo}">xxxxx</td>
                </tr>
                <tr>
                    <th>Año de Fabricación</th>
                    <td th:text="${vehiculo.anioFabricacion}">xxxxx</td>
                </tr>
                <tr>
                    <th>Color</th>
                    <td th:text="${vehiculo.color}">xxxxx</td>
                </tr>
                <tr>
                    <th>Condición</th>
                    <td th:text="${estado}">xxxxx</td>
                </tr>
                <tr>
                    <th>Kilometros realizados</th>
                    <td th:text="${vehiculo.kilometraje} + 'KM'">xxxxx</td>
                </tr>
                <tr>
                    <th>Tipo de Combustible</th>
                    <td th:text="${vehiculo.tipoDeCombustible}">xxxxx</td>
                </tr>
            </table>
        </div>

        <div class="descripcion">
            <h1>Descripción</h1>
            <p th:text="${vehiculo.descripcion}">Descripción breve</p>
        </div>
    
        <div class="relacionados"> 
            <h1>Productos Relacionados</h1>
            <ul class="prod-relacionados">
                <li th:each="rel : ${vehiculosRel}">
                    <h2 th:text="${rel.marca} + ' ' + ${rel.modelo}">Título 1</h2>
                    <a th:href="@{/transaccion/producto(__${rel.id}__)}"><img th:src="${'/foto/vehiculo/' + rel.id}" class="fotos"></a>
                    <p class="prDescripcion" th:text="${rel.kilometraje} + 'KM'">Kilometros, Nuevo/Usado, Transmisión</p>
                    <p class="prPrecio" th:text="${rel.precio}">$ 1000.00</p>
                </li>
            </ul> 
        </div>
    </main>
    
    <footer>
        <div class="primerPiso">
        <img src="/busCAR/src/main/resources/static/img/Logo_Nombre.png" class="logo">
        <p class="copyright">&copy Copyright BusCar - 2022</p>        
        <ul class="redes">
            <li><img src="\busCAR\src\main\resources\static\img\instagram.png" class="iconos"> <a rel="link" href="https://www.instagram.com/">Instagram</a></li>
            <li><img src="\busCAR\src\main\resources\static\img\facebook.png" class="iconos"> <a rel="link" href="https://www.facebook.com/">Facebook</a></li>
            <li><img src="\busCAR\src\main\resources\static\img\twitter.png" class="iconos"> <a rel="link" href="https://www.twitter.com/">Twitter</a></li>
        </ul>      
    </div>  
    </footer>
</body>
</html>

<script type="text/javascript">
    function myFunction(smallImg){
        var fullImg = document.getElementById("imageBox");
        fullImg.src = smallImg.src;
    }    
</script>