<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro Auto</title>
    <link rel="stylesheet" href="/css/Registro_auto.css">
</head>

<body>

    <header>
        <nav>
                 <div class="logo_img">
                    <a href=""><img src="/img/Logo_Nombre.png" alt=""></a> 
                </div> 
                
               
        </nav>

    </header>
    <br>

    
    <center>
    <section class="formulario_conteiner">

            <form action="/vehiculo/registro"   method="POST" enctype="multipart/form-data">
                <h1>Registrar Vehiculo</h1>
                <p style="color: rgb(95, 95, 95);">A continuacion, ingrese los datos del vehiculo a regirstrar, muchas gracias
                 </p><br><br>

                <div class="car-box">
                    <input type="text" required>
                    <label>Titulo de la publicacion</label>
                    <br><br>
              </div>

               <div class="car-box2">
                   <label>Tipo de Vehiculo</label>
                  <select name="tdv" required>
                    <option th:each="tipo : ${Tdv}" th:text="${tipo}"></option>
                </select>
                 <!--  <input id="radio" type="radio" name="auto" value="true" >Auto
                   <input id="radio" type="radio" name="camioneta" value="false" >Camioneta-->
                   <br><br><br>
               </div>

               <div class="car-box1">
                   <label >Marca</label>
                  <select name="marca" required>
                    <option th:each="mar : ${Marcas}" th:text="${mar}"></option> 
                </select>
                   <!--<select name="Marca" required>
                       <option value="Chevrolet" >Chevrolet</option>
                       <option value="Peugeot" >Peugeot</option>
                       <option value="Renault" >Renault</option>
                       <option value="Toyota" >Toyota</option>
                       <option value="Volkswagen" >Volkswagen</option>
                       <option value="Fiat" >Fiat</option>
                   </select>-->
                   <br><br><br>
                </div>

               <div class="car-box">
                   <input type="text" name="modelo" required>
                   <label>Modelo</label><br><br>
               </div>

               <div class="car-box">
                   <input type="text"  name="patente" required>
                   <label>Patente</label>
                   <br><br>
               </div>

               <div class="car-box">
                   <input type="number" name="anio" required>
                  <!--<input type="number" name="anioFabricacion" required>-->
                   <label >Año</label>
                   <br><br>
               </div>
 
               <div class="car-box2">
                   <label>Estado</label><br>
                   <input type="radio" name="nuevo" value="true" required>Nuevo
                   <input type="radio" name="nuevo" value="false" required>Usado
                   <br><br><br>
               </div>

               <div class="car-box">
                   <input type="number" name="kilometraje" required>
                   <label >Kilometros</label>
                   <br><br>
               </div>
               
               <div class="car-box">
                  <select name="color" required>
                    <option th:each="col : ${Colores}" th:text="${col}"></option> 
                </select>
                  <!-- <input type="text" required>-->
                   <label>Color</label>
                   <br><br>
               </div>

               <div class="car-box1">
                    <label >Tipo de conbustible</label>
                 <select name="tdc" required>
                    <option th:each="tipo : ${Tdc}" th:text="${tipo}"></option> 
                </select>
                  <label>Tipo de combustible</label>
                <br><br><br>
            </div>

            <div class="car-box">
                <input type="text" name="modelo" required>
                <label>Modelo</label><br><br>
                
            </div>

            <div class="car-box">
                <input type="text" name="patente" required>
                <label>Patente</label>
                <br><br>
            </div>
            
            

            <div class="car-box">
                <input type="number" name="anio" required>
                <label>Año</label>
                <br><br>
            </div>

           

            <div class="car-box">
                <input type="number" name="kilometraje" required>
                <label>Kilometros</label>
                <br><br>
            </div>

            

            <div class="car-box">
                <input type="number" name="precio" required>
                <label>Precio</label>
                <br><br>
            </div>

            <div class="car-box">
                <h3>Descripcion</h3>
                <textarea name="descripcion" rows="10" cols="40"> Agrega una descripcion del Vehiculo</textarea>
                <br><br>
            </div>

            <div class="car-box">
                <h3>Imagenes</h3>
                <input type="file" name="archivo">
                <br>
            </div>

            <input id="submit" type="submit" ><br><br>

               <div class="car-box">
                    <input type="number" name="precio" required>
                    <label>Precio</label>
                    <br><br>
               </div>

              <div class="car-box">
                    <h3>Descripcion</h3>
                    <textarea name="descripcion" rows="10" cols="40"> Agrega una descripcion del Vehiculo</textarea>
                    <br><br>
                </div>
            
              <div class="car-box">
                    <h3>Imagenes</h3>
                    <input type="file" name="archivo">
                    <br>
               </div>

               <input id="submit" type="submit" value="Registrar Vehiculo"><br>

               <a class="link" href="/">Volver a inicio</a><br><br>
       
              

            </form>

       
    </section>
</center>
    

</body>

 <div   th:if="${exito}!=null" class=" header_content" >
                    <div >
                        <h5 >Exito </h5>
                        <p  th:text="${exito}"></p>
                        <a href="/"> Volver ></a>
                    </div>
                    
                </div>

                <div  th:if="${error}!=null" class="header_content" >
                    <div >

                        <h5 >Error </h5>
                        <p th:text="${error}"></p>
                        <a href="/"> Volver ></a>
                    </div>

                </div>

<footer>
    <div class="container">
        <p>&copy; busCar2022</p>
    </div>
</footer>

</html>