<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Registro Auto</title>
        <link rel="stylesheet" href="/css/Registro_auto.css">
    </head>

    <body>


        <header>
            <div class="header_content">

                <div class="logo_img">
                    <a href=""><img src="/img/Logo_Nombre.png" alt=""></a> 
                </div> 
                
                <div   th:if="${exito}!=null" class=" header_content" >
                    <div >
                        <h5 >Exito </h5>
                        <p  th:text="${exito}"></p>
                        <a href="/"> Volver ></a>
                    </div>
                    <a href="/"> Volver ></a>
                </div>

                <div  th:if="${error}!=null" class="header_content" >
                    <div >

                        <h5 >Error </h5>
                        <p th:text="${error}"></p>
                        <a href="/"> Volver ></a>
                    </div>

                </div>



                <!-- <nav>
                     <a href="#">Contacto</a>
                </nav> -->

            </div>

        </header>


        <main>



            <section class="formulario_content">


                <center>
                    <h1>Cargar Vehiculo</h1>
                    <br>

                    <form action="/vehiculo/registro" method="POST" enctype="multipart/form-data">

                        <label class="label_titulopubli">Titulo de la publicacion</label><br>
                        <input type="text" required name="titulo">
                        <br><br>


                        <label>Tipo de Vehiculo    </label>
                        <select name="tdv" required>
                            <option th:each="tipo : ${Tdv}" th:text="${tipo}"></option> 
                        </select>
                        <br><br>


                        <label >Marca</label>
                        <select name="marca" required>
                            <option th:each="mar : ${Marcas}" th:text="${mar}"></option> 
                        </select><br><br>


                        <label>Modelo</label>
                        <input type="text" name="modelo" required>
                        <br><br>


                        <label>Patente</label>
                        <input type="text"  name="patente" required>
                        <br><br>


                        <label >Año</label>
                        <input type="number" name="anio" required><br><br>


                        <label>Estado    </label>
                        <input type="radio" name="nuevo" value="true" required>Nuevo
                        <input type="radio" name="nuevo" value="false" required>Usado
                        <br><br>


                        <label >Kilometros</label>
                        <input type="number" name="kilometraje" required>
                        <br><br>


                        <label>Color</label>
                        <select name="color" required>
                            <option th:each="col : ${Colores}" th:text="${col}"></option> 
                        </select>
                        <br><br>


                        <label >Tipo de combustible</label>
                        <select name="tdc" required>
                            <option th:each="tipo : ${Tdc}" th:text="${tipo}"></option> 
                        </select><br><br>


                        <label>Precio</label>
                        <input type="number" name="precio" required>
                        <br><br>



                        <div class="form_descripcion">

                            <h3>Descripcion</h3><br>
                            <textarea name="descripcion" rows="10" cols="40">      Agrega una descripcion del Vehiculo</textarea>

                        </div>
                        <br><br>

                        <div class="form_img">
                            <h3>Imagenes</h3><br>
                            <input type="file" name="archivo">
                        </div>
                        <br><br>


                        <input type="submit">

                    </form>
                </center>

            </section>

        </main>
    </body>
</html>