<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>BusCAR-Registro</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <link rel="icon" href="">
    <script src='main.js'></script>
</head>
<body>
    <header>
        <nav>
         
        </nav>
    </header>
    <div>
        <form>
        <h2><b>Registro</b></h2>
        <p>Ingrese su nombre</p>
        <input type="text" name="nombre" required="">
        <p>Ingrese su apellido</p>
        <input type="text" name="apellido"required="">
        <p>Ingrese su fecha de nacimiento</p>
        <input type="date" name="fechaNacimiento"required="">
        <p>Ingrese su DNI</p>
        <input type="number" name="dni"required="">
        <p>Ingrese su E-mail</p>
        <input type="email" name="email"required="">
        <p>Ingrese su num. telefónico</p>
        <input type="tel" name="telefono"required="">
        <p>Ingrese su domicilio</p>
        <input type="text" name="direccion"required="">
        <p>Ingrese su contraseña</p>
        <input type="password" name="contraseña"required=""><br>
        <input type="submit" value="Registrarse"required="">
        <p>¿Ya tenés cuenta?</p>
        <a href="inicioSesion.html">Iniciá Sesión</a>
        </form>
        <a href="index.html">Volver a inicio</a>
    </div>
</body>
</html>