<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro Moto</title>
    <link rel="stylesheet" href="/css/Registro_moto.css">
</head>

<body>

    <header>
              <nav>
                                            <ul class="nav1">
                                                <li><a href="/contacto">Contacto</a></li>
                                                <li><a href="/catalogo">Comprar</a></li>
                                                <li><a href="">Mi cuenta</a>
                                                    <ul id="nav2">
                                                        <li th:if="${session.usuariosession} == null"><a href="/login">Iniciar Sesion</a></li>
                                                        <li th:if="${session.usuariosession} == null" id="regi"><a href="/registroUsuario">Registrarte</a></li>
                                                        <li th:if="${session.usuariosession} != null"><a href="/usuario/editar-perfil">Editar perfil</a></li>
                                                        <li th:if="${session.usuariosession} != null"><a href="/usuario/editar-clave">Cambiar contraseña</a></li>
                                                        <li th:if="${session.usuariosession} != null"><a href="/vehiculo/registro"> Registrar Vehiculo</a></li>
                                                        <li th:if="${session.usuariosession} != null"><a href="/vehiculo/modificar_vehiculo">Modificar Vehiculo</a></li>
                                                        <li th:if="${session.usuariosession} != null"><a href="/logout">Logout</a></li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </nav>
    </header>

    
    <center>
    <section class="formulario_conteiner">

            <form >
                <h1>Registrar Vehiculo</h1>
                <p style="color: rgb(95, 95, 95);">A continuacion, ingrese los datos del vehiculo a regirstrar, muchas gracias
                 </p><br><br>

                <div class="car-box">
                    <input type="text" required>
                    <label>Titulo de la publicacion</label>
                    <br><br>
              </div>

              <div class="car-box">
                <input type="text" name="modelo" required>
                <label>Marca</label><br><br>
            </div>

               <div class="car-box">
                   <input type="text" name="modelo" required>
                   <label>Modelo</label><br><br>
               </div>

               <div class="car-box">
                   <input type="text"  name="patente" required>
                   <label>Patente</label>
                   <br><br>
               </div>

               <div class="car-box">
                   <input type="number" name="anioFabricacion" required>
                   <label >Año</label>
                   <br><br>
               </div>
 
               <div class="car-box2">
                   <label>Estado</label><br>
                   <input type="radio" name="nuevo" value="true" required>Nuevo
                   <input type="radio" name="nuevo" value="false" required>Usado
                   <br><br><br>
               </div>

               <div class="car-box">
                   <input type="number" name="kilometraje" required>
                   <label >Kilometros</label>
                   <br><br>
               </div>
               
               <div class="car-box">
                   <input type="text" required>
                   <label>Color</label>
                   <br><br>
               </div>

               <div class="car-box">
                    <input type="number" name="precio" required>
                    <label>Precio</label>
                    <br><br>
               </div>

              <div class="car-box">
                    <h3>Descripcion</h3>
                    <textarea name="descripcion" rows="10" cols="40"> Agrega una descripcion del Vehiculo</textarea>
                    <br><br>
                </div>
            
              <div class="car-box">
                    <h3>Imagenes</h3>
                    <input type="file" name="fotos">
                    <br>
               </div>

               <input id="submit" type="submit" value="Registrar Vehiculo"><br>

               <a class="link" href="/">Volver a inicio</a><br><br>
       
              

            </form>

       
    </section>
</center>
    

</body>

<footer>
    <div class="container">
        <p>&copy; busCar2022</p>
    </div>
</footer>

</html>


	
	
	