<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="/busCAR/src/main/resources/static/css/contacto.css"> -->
    <link rel="stylesheet" href="/css/transaccionEstilo.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Questrial&display=swap" rel="stylesheet">
    <title>BusCAR - Reserva</title>
</head>
<body>
    <header>
        <div class="container">

            <a href="/">    <img src="/img/Logo_Nombre.png" alt="logo" class="logoNav"></a>

            <div class="search">
                <input type="text" placeholder=" Que desea busCAR?" class="buscador">
                <div class="btn">
                    <i class="fa fa-search"></i>
                </div>
            </div>

            <nav>
                                            <ul class="nav1">
                                                <li><a href="#">Contacto</a></li>
                                                <li><a href="">Comprar</a></li>
                                                <li><a href="">Mi cuenta</a>
                                                    <ul id="nav2">
                                                        <li th:if="${session.usuariosession} == null"><a href="/login">Iniciar Sesion</a></li>
                                                        <li th:if="${session.usuariosession} == null" id="regi"><a href="/registroUsuario">Registrarte</a></li>
                                                        <li th:if="${session.usuariosession} != null"><a href="/usuario/editar-perfil">Editar perfil</a></li>
                                                        <li th:if="${session.usuariosession} != null"><a href="/usuario/editar-clave">Cambiar contraseña</a></li>
                                                        <li th:if="${session.usuariosession} != null"><a href="/vehiculo/registro"> Registrar Vehiculo</a></li>
                                                        <li th:if="${session.usuariosession} != null"><a href="/vehiculo/modificar_vehiculo">Modificar Vehiculo</a></li>
                                                        <li th:if="${session.usuariosession} != null"><a href="/logout">Logout</a></li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </nav>
        </div>

    </header>
    
    <main>
        <h1 id="titulo">Ya casi!</h1>

        <div class="bloque1">                
            <section class="infoProducto">
                <p id="p1">Estas por reservar:</p>
                <img th:src="${'/foto/vehiculo/' + vehiculo.id}" class="foto">
                <h2 th:text="${vehiculo.marca + ' ' + vehiculo.modelo}">Marca - Modelo</h2>
                <h3 th:text="${vehiculo.anioFabricacion + ', ' + vehiculo.kilometraje + 'Km'}">Año/km</h3><hr>
                <section class="precio">
                    <p id="parrafo-reserva">La reserva es el 5% del monto total</p>
                    <p id="precio" th:text="${'$' + vehiculo.precio}">$$$$$</p>
                </section>
            </section>

            <section class="mediosPago">
                <h1>¿Cómo querés pagar?</h1>
                <form th:action="@{/transaccion/pago}">                
                    <fieldset>
                        <legend>Elija el medio de pago</legend>
                        
                        <label for="Transferencia"><input type="radio" name="pago" th:value="${transferencia}" id="radio-Transferencia"><img class="icoMedio" src="/img/transferencia-bancaria.png">Transferencia Bancaria</label>                    

                        <label for="Tarjeta"><input type="radio" name="pago" th:value="${tarjeta}" id="radio-Tarjeta"><img class="icoMedio" src="/img/tarjeta-de-credito.png">Tarjeta</label>                    

                        <label for="Efectivo"><input type="radio" name="pago" th:value="${rapipago}" id="radio-Efectivo"><img class="icoMedio" src="/img/efectivo.png">Efectivo</label>     
                        
                        <label for="Cripto"><input type="radio" name="pago" th:value="${cripto}" id="radio-Cripto"><img class="icoMedio" src="/img/criptomoneda.png">Criptomonedas</label>    
                    </fieldset>             
                    <input type="hidden" name="precio" th:value="${precio}">
                    <input type="hidden" name="id_v" th:value="${vehiculo.id}">
                    <input type="submit" value="Continuar" class="enviar">
                </form>
            </section>
        </div>  
    </main>    

    <footer>
        <div class="primerPiso">
        <img src="/img/Logo_Nombre.png" class="logo">
        <p class="copyright">&copy Copyright BusCar - 2022</p>        
        <ul class="redes">
            <li><img src="/img/instagram.png" class="iconos"> <a rel="link" href="https://www.instagram.com/">Instagram</a></li>
            <li><img src="/img/facebook.png" class="iconos"> <a rel="link" href="https://www.facebook.com/">Facebook</a></li>
            <li><img src="/img/twitter.png" class="iconos"> <a rel="link" href="https://www.twitter.com/">Twitter</a></li>
        </ul>      
    </div>  
    </footer>
</body>
</html>